@import 'sub/_reset.scss';

$main-font: 'Roboto',
sans-serif;
$primary-color: #85859b;
$secondary-color: #4c5866;


body {
    margin: 0 auto;
    font-family: $main-font;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.container {
    margin: 0 auto;
    width: 1110px;
}

.header {
    padding: 0 165px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;

}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;

    img {
        width: auto;
        height: 17px;
    }
}

.header .container {
    padding: 28px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        color: #333;
        font-size: 20px;
        font-weight: 300;
    }

    .nav-menu {
        display: flex;
        gap: 60px;

        a {
            color: $secondary-color;
            font-size: 20px;
            font-weight: 400;
        }
    }

    .log-in {
        display: flex;
        gap: 30px;

        img {
            height: 24px;
            width: 24px;
        }
    }
}

.section-1 .container {
    padding-top: 60px;
    display: flex;
    gap: 126px;
}

.section-1 {
    .box-left {
        padding-top: 70px;
        max-width: 444px;
    }

    h2 {
        color: $secondary-color;
        font-size: 60px;
        font-weight: 400;
        line-height: 100%;
    }

    p {
        margin: 30px 0;
        color: $primary-color;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
    }
}

button {
    padding: 20px 90px;
    color: #7875fe;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid #7875fe;
    background: #fff;
}

.section-2 {
    background: #ebebeb;

    .box-top {
        display: flex;
        gap: 30px;
        padding: 90px 0;
    	padding-top: 20px;
        border-top: 1px solid #c0c0c0;
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .box-top__inner {
    }

    .box-bottom {
        display: flex;
        gap: 30px;

        .wrapper-right {
            max-width: 350px;

            h3 {
                color: #666;
                font-size: 40px;
                font-weight: 400;
            }

            p {
                color: $primary-color;
                font-size: 18px;
                line-height: 170%;
            }
        }
    }
}

.section-3 {
    padding: 90px 165px;
}

.section-3 .container {
    display: flex;
    gap: 30px;

    .card-box {
        width: 255px;
        position: relative;
        overflow: hidden;

        >div {
            background: #ebebeb;
            width: 255px;
            height: 180px;
        }

        h3 {
            margin-top: 20px;
            color: #666;
            font-size: 30px;
            font-weight: 400;
        }

        span {
            color: #b5b5bd;
            margin: 8px 0;
            font-size: 14px;
            font-weight: 400;
        }

        p {
            color: $primary-color;
            font-size: 18px;
            font-weight: 400;
            line-height: 170%;
        }

        a {
            display: flex;
            align-items: center;
            font-size: 20px;
            color: #7875fe;
            font-weight: 400;
            margin-top: 20px;

            img {
                margin-left: 5px;
            }
        }


    }

    .card-box-1 {

        div img:nth-child(1) {
            position: absolute;
            top: 51px;
            left: -11px;
        }

        div img:nth-child(2) {
            position: absolute;
            top: 22px;
            left: 57px;
            z-index: 1;

        }

        div img:nth-child(3) {
            position: absolute;
            top: 51px;
            right: -11px;

        }
    }

    .card-box-2 {

        div {
            padding: 12px 15px 0;
        }
    }

    .card-box-3 {

        div {
            padding: 12px 0 0 15px;
        }
    }

    .card-box-4 {
        div img:nth-child(1) {
            position: absolute;
            top: 20px;
            left: 4px;
        }

        div img:nth-child(2) {
            position: absolute;
            z-index: 1;
            top: 4px;
            right: 0;
        }
    }
}

.section-4 {
    background: #ebebeb;
    padding: 90px 165px;

    .container {
        display: flex;
        gap: 30px;
    }

    .box {
        width: 255px;
        height: 135px;
        border: 1px solid #c4c4c4;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.section-5 {
    padding: 90px 165px 0;

    .container {
        display: flex;
        gap: 30px;
    }

    .box-left {
        max-width: 350px;

        h3 {
            color: #666;
            font-size: 40px;
            font-weight: 400;
            margin-bottom: 8px;
        }

        p {
            color: $primary-color;
            font-size: 18px;
            font-weight: 400;
            line-height: 170%;
            margin-bottom: 30px;
        }
    }

    .box-right {
        position: relative;

        .box-right_img-abs {
            position: absolute;
            top: 48px;
            right: 30px;
        }

    }

}

.footer {
	.box-top {
		padding: 28px 165px;
		width: 100%;
		background: #4c5866;

		.container {
			display: flex;
			justify-content: space-between;
		}
	}

	.logo {
		color: #fff;
		align-items: center;
		
		.ellipse-1,
		.ellipse-2 {
			height: 17px;
			border: 2px solid #fff;
		}

		.ellipse-1 {
			width: 17px;
			border-radius: 50%;
		}

		.ellipse-2 {
			width: 32px;
			border-radius: 9px;
		}

		p {
			font-size: 20px;
			font-weight: 300;
		}
	}

	.box-bottom {
		padding: 0 165px;
	}

	.social-icons {
		display: flex;
		gap: 30px;

		img {
			width: 28px;
			height: auto;
		}
	}

	.box-bottom {
		background: #ebebeb;
		text-align: center;
	}
}

.copyright p {
	padding: 5px 0;
	color: $primary-color;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
}

.copyright span {
	color: #bcbcbc;
}